<%- include('../layouts/adminHeader'); %>
<div class="site-wrap">

    <nav class="site-nav">
  
      <div class="name">
        Luxe-Loot
  
        
      </div>
  
      <ul>
        <li><a href="/admin">Dashboard</a></li>
        <li class="active"><a href="/admin/product">Products</a></li>
        <li><a href="/admin/categories">Categories</a></li>
        <li><a href="/admin/brands">Brand</a></li>
        <li><a href="/admin/admins">Admins</a></li>
        <li><a href="/admin/customer">Customers</a></li>
        <li><a href="/admin/Banner">Banners</a></li>
        <li><a href="/admin/payments">Payments</a></li>
        <li><a href="/admin/orders">Orders</a></li>
      </ul>
  
      <div class="note">
        <button class="btn"><a href="/admin/logout"></a></button>
      </div>
  
    </nav>
  
    <main>
        
        <div class="mt-5">
            <div style="width: 60%">
                <form action="/admin/addProduct" method="post" enctype="multipart/form-data" class="mt-4" >
      
                     <!-- Product name------------description -->
                    <div class="border border-gray " style=" padding: 20px; border-radius: 20px;">
                        <strong>General Information</strong>
                        <div class="mb-3 mt-4">
                            <label for="exampleInputEmail1" class="form-label">Product Name</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" name="productName" aria-describedby="emailHelp" placeholder="Type Product name here..">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Product Description</label>
                            <textarea name="description" class="form-control" cols="30" rows="10" placeholder="Type Product Description here"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="">Specification</label>
                            <div id="specs-container-1" class="mb-5">
                                <div class="d-flex">
                                    <input type="text" class="form-control" id="exampleInputEmail1" name="specification" aria-describedby="emailHelp" placeholder="Enter specification">
                                  <button class="btn btn-success" onclick="addSpecification()"><i class="fa-solid fa-plus"></i></button>
                                </div>
                            </div>
      
                    </div>
      
                    <!-- image------------------------ -->
                    <div class="border border-gray mt-5" style=" padding: 20px; border-radius: 20px;">
                        <strong>Media Information</strong>
                        <br><label for="">Photo</label>
                        <div class="d-flex justify-content-center align-items-center mt-3">
                            <div>
                                <div style="width: 100px;height: 100px;margin-right: 4%;; border: 1px solid grey;">
                                    <img id="imagePreview1" src="" alt=""
                                        style="width: 100%; height: 100px;">
                                </div>
                                <input type="file" name="image1" id="imageInput1" accept="image/*" onchange="change(event,1)"
                                style="width: 43%;height: 35px;border-radius: 5px;" oninput="validateImage('imageInput1',1)"  required>
                            </div>
                            
                            <div>
                                <div style="width: 100px;height: 100px;margin-right: 4%; border: 1px solid grey;">
                                    <img id="imagePreview2" src="" alt=""
                                        style="width: 100%; height: 100px;">
                                </div>
                                <input type="file" name="image2" id="imageInput2" accept="image/*" onchange="change(event,2)"
                                style="width: 43%;height: 35px;border-radius: 5px;" oninput="validateImage('imageInput2',2)" required>
                            </div>
                            <div>
                                <div style="width: 100px;height: 100px;margin-right: 4%; border: 1px solid grey;">
                                    <img id="imagePreview3" src="" alt=""
                                        style="width: 100%;height: 100px;">
                                </div>
                                <input type="file" name="image3" id="imageInput3" accept="image/*" oninput="validateImage('imageInput3',3)" onchange="change(event,3)"
                                style="width: 43%;height: 35px;border-radius: 5px;" required>
                            </div>
                            <div>
                                <div style="width: 100px;height: 100px; border: 1px solid grey;">
                                    <img id="imagePreview4" src="" alt=""
                                        style="width: 100%; height: 100px;">
                                </div>
                                    <input type="file" name="image4" id="imageInput4" accept="image/*" oninput="validateImage('imageInput4',4)" onchange="change(event,4)"
                                    style="width: 43%;height: 35px;border-radius: 5px;" required>
                            </div>
                           <div>
                           </div>
                        </div>    
                    </div>
      
                    <!-- pricing------------------------- -->
                    <div class="border border-gray mt-5"  style=" padding: 20px; border-radius: 20px">
                        <strong>Pricing</strong>
                    <div  class=" d-flex align-items-center ">
                        <div class="mb-3 mt-4 ">
                            <label for="exampleInputEmail1" class="form-label">Base Price</label>
                            <input type="text" class="form-control" name="price" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Type Product name here..">
                        </div>
                        <div class="mb-3 mt-4 ms-5 ">
                            <label for="exampleInputEmail1" class="form-label">Offer Price</label>
                            <input type="text" class="form-control" name="discountPrice" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Type Product name here..">
                        </div>
                    </div>
                    </div>
      
                    <!-- variation----------------- -->
                    <div class="border border-gray mt-5"  style=" padding: 20px; border-radius: 20px">
                        <strong>Variation</strong>
                        <div class="mb-3 mt-4 ">
                            <label for="exampleInputEmail1" class="form-label">Color</label>
                            <input type="text" class="form-control" name="color" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Type Product name here..">
                        </div>
                    </div>
      
                    <!-- brand------------------------- -->
                    <div class="border border-gray mt-5"  style=" padding: 20px; border-radius: 20px">
                        <div class="mb-3 mt-4 ">
                            <label for="exampleInputEmail1" class="form-label">Brand</label>
                            <select class="" id="category" name="brand" required
                            style="width: 38%;height: 35px;border-radius: 5px;padding-left: 5px;margin-right: 4%;"  >
                            <option value="" selected disabled>Select a Brand</option>
                                    <% brand.forEach(ele => { %>
                                        <option value='<%-ele._id-%>' ><%- ele.Name -%></option>
                                    <% }) %>
                            </select>
                        </div>
                    </div>
      
                    <!-- category------------------------------ -->
                    <div class="border border-gray mt-5"  style=" padding: 20px; border-radius: 20px">
                        <div class="mb-3 mt-4 ">
                            <label for="exampleInputEmail1" class="form-label">Category</label>
                            <select class="" id="category" name="category" required
                            style="width: 38%;height: 35px;border-radius: 5px;padding-left: 5px;margin-right: 4%;"  >
                            <option value="" selected disabled>Select a Category</option>
                                    <% category.forEach(ele => { %>
                                        <option value='<%-ele._id-%>' ><%- ele.Name -%></option>
                                    <% }) %>
                            </select>
                        </div>
                    </div>
      
                    <!-- status-------------------------------------- -->
                    <div class="border border-gray mt-5"  style=" padding: 20px; border-radius: 20px">
                        <div class="mb-3 mt-4 d-flex ">
                            <label for="exampleInputEmail1" class="form-label">Stock</label>
                            <input type="number" class="form-control ms-3" name="stock" id="exampleInputEmail1" aria-describedby="emailHelp" style="width: 10%; border-style: solid;border-color: black;" placeholder="">
                        </div>
                    </div>
                    <div class="mt-5 mb-5 d-flex align-items-center justify-content-center" style="width: 100%;">
                        <button type="submit" class="btn btn-success" style="width: 20%;">Save</button>
                    </div>
                </form>
            </div>
            
        </div>

        <% if (messages.msg) {  %>
            <div style="z-index: 2;" id="remove-alert" class="alert alert-dismissible fade show alert-<%=messages.type %>" role="allert">
              <strong><%= messages.msg %></strong>
          </div>
          <% } %>
    </main>
  
  </div>

<script>
    function change(event,no){
       console.log("ok da")
       document.getElementById(`imagePreview${no}`).src=URL.createObjectURL(event.target.files[0])
    }

    function addSpecification() {
        const container = document.getElementById('specs-container-1');
        
        // Create a new input field with a remove button
        const inputField = document.createElement('div');
        inputField.innerHTML = `
        <div class="d-flex mt-3">
        <input type="text" class="form-control" id="exampleInputEmail1" name="specification" aria-describedby="emailHelp" placeholder="Enter specification">
          <button class="btn btn-danger" onclick="removeSpecification(this)">Remove</button>
        </div>
        `;
        
        // Append the new input field to the container
        container.appendChild(inputField);
      }
      
      function removeSpecification(button) {
        // Get the parent element of the button (which is the input field div)
        const inputField = button.parentElement;
        
        // Remove the input field from the DOM
        inputField.remove();
      }

</script>
<% -include('../layouts/adminFooter') %>