<%- include('../layouts/userHeader'); %>
<link rel="stylesheet" href="/css/user/productDetail.css">


<div class="shadow-lg rounded m-5 p-3 d-flex">
    
    <div class="wrapper m-5 bg-light.bg-gradient d-flex ">
        <div class="img-selection ">
          <div class="img-thumbnail selected border border-3 ">
            <img src="/uploads/<%= product.images[0] %>" width="100%">
          </div>
          <div class="img-thumbnail border border-3">
            <img src="/uploads/<%= product.images[1] %>" width="100%">
          </div>
          <div class="img-thumbnail border border-3">
            <img src="/uploads/<%= product.images[2] %>" width="100%">
          </div>
        </div>
        <div class="big-img">
            <img src="/uploads/<%= product.images[3] %>" class="display-img">
        </div>
    </div>
     <div class="m-5 col-6 lg-12">
        <h4><%= product.brand.Name %></h4>
        <h6 class="fw-bold"><%= product.productName  %></h6>
        <h4>₹<%= product.price  %></h4><h5 class="text-decoration-line-through">₹<%= product.discountPrice %></h5>
        <p class="fw-normal"><%= product.description %></p>
        <ul>
            <% product.specification.forEach(val=>{ %>
                <li class="font-monospace fs-5"><%= val %></li>
            <%}) %>
        </ul>
        <div class="mt-4">
          <a href="#" onclick="addToCart('<%- product._id %>')" class="btn btn-primary shadow-0" role="button">Add to Cart</a>
            <a href="#!" class="btn btn-light border px-2 pt-2 icon-hover"><i class="fas fa-heart fa-lg px-1"></i></a>
        </div>
            <a href=""><button type="button" class="btn btn-outline-warning ms-5 mt-4">Buy Now</button></a>
    </div> 
      
</div>
<script>
    var thumbs = $('.img-selection').find('img');

thumbs.click(function(){
  var src = $(this).attr('src');
  var dp = $('.display-img');
  var img = $('.zoom');
  dp.attr('src', src);
  img.attr('src', src);
});

$(".img-thumbnail").click(function(){
  $('.img-thumbnail').removeClass('selected');
  $(this).addClass('selected');
});

var zoom = $('.big-img').find('img').attr('src');
$('.big-img').append('<img class="zoom" src="'+zoom+'">');
$('.big-img').mouseenter(function(){
  $(this).mousemove(function(event){
    var offset = $(this).offset();
    var left = event.pageX - offset.left;
    var top = event.pageY - offset.top;
    
    $(this).find('.zoom').css({
      width: '200%',
      opacity: 1,
      left: -left,
      top: -top,
    });
  });
});

$('.big-img').mouseleave(function(){
  $(this).find('.zoom').css({
    width: '100%',
    opacity: 0,
    left: 0,
    top: 0,
  });
});
</script>
<script>
   function addToCart(productId) {
        $.ajax({
            url: `/addtocart/${productId}`,
            method: 'GET',
            success: function(res) {
            if (res.user && res.response) {
                Toastify({
                    text: res.msg,
                    duration: 800,
                    close: false,
                    gravity: "top",
                    position: 'center',
                    style: {
                        background: "rgba(0, 0, 255, 0.7)", // Set the background color with opacity
                        color: "#fff",
                        borderRadius: "15px",
                    }
                }).showToast();
            } else if(res.user && !res.response){
                Toastify({
                    text: res.msg,
                    duration: 800,
                    close: false,
                    gravity: "top",
                    position: 'center',
                    style: {
                        background: "rgba(0, 0, 255, 0.7)", // Set the background color with opacity
                        color: "#fff",
                        borderRadius: "15px",
                    }
                }).showToast();
            }else{
              Toastify({
                    text: 'Plese login',
                    duration: 800,
                    close: false,
                    gravity: "top",
                    position: 'center',
                    style: {
                        background: "rgba(0, 0, 255, 0.7)", // Set the background color with opacity
                        color: "#fff",
                        borderRadius: "15px",
                    }
                }).showToast();
            }
            // Show toast notification

            // Optional: You can redirect the user to the cart page after adding the item
            // window.location.href = "/cart";
        },
            error: function(error) {
                // Show toast notification for error, if needed
                toastr.error('Failed to add item to cart');
            }
        });
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    $(document).ready(function(){

$('#itemslider').carousel({ interval: 3000 });

$('.carousel-showmanymoveone .item').each(function(){
var itemToClone = $(this);

for (var i=1;i<6;i++) {
itemToClone = itemToClone.next();

if (!itemToClone.length) {
itemToClone = $(this).siblings(':first');
}

itemToClone.children(':first-child').clone()
.addClass("cloneditem-"+(i))
.appendTo($(this));
}
});
});
  </script>

</html>